@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

* {
  font-family: Outfit;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fly-horizontal {
  0% {
    left: -100px;
    transform: scale(0.5) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.2) rotate(5deg);
  }
  100% {
    left: 100vw;
    transform: scale(0.5) rotate(-5deg);
    opacity: 1;
  }
}

.genie-fly-animation {
  position: fixed;
  bottom: 35%;
  left: -100px;
  width: 150px;
  animation: fly-horizontal 4s ease-in-out forwards infinite;
  z-index: 50;
}

.funny-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffcc00;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  animation: fade-in-out 4s ease-in-out forwards infinite;
}

@keyframes fade-in-out {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}